<div class="container">
    <app-menu> </app-menu>
  </div>

<!--
<div class="container">
    <nav>
    <a routerLink="/produtos" routerLinkActive="active">Produtos</a>
    <a routerLink="/produto-novo" routerLinkActive="active">Novo Produto</a>
    </nav>
    <router-outlet></router-outlet>
    </div>



<h1>Lista de produtos</h1>

<div>

  <input type="text" [(ngModel)]="cliente"/>
  <button type="button" (click)="addClientes()">add cliente</button>

  <ul>
    <li *ngFor="let item of clientes">{{item}}</li>
  </ul>

</div>
-->
